<?xml version="1.0"?>
<config>
  <modules>
    <Filtr8_EzMagazine>
      <version>1.0.0</version>
    </Filtr8_EzMagazine>
  </modules>
  <frontend>
    <routers>
      <ezmagazine>
        <use>standard</use>
          <args>
            <module>Filtr8_EzMagazine</module>
            <frontName>ezmagazine</frontName>
          </args>
      </ezmagazine>
    </routers>
		<layout>
		  <updates>
			<ezmagazine>
			  <file>ezmagazine.xml</file>
			</ezmagazine>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ezmagazine>
        <class>Filtr8_EzMagazine_Helper</class>
      </ezmagazine>
    </helpers>
	<blocks>
	  <ezmagazine>
		<class>Filtr8_EzMagazine_Block</class>
	  </ezmagazine>
	</blocks>
  </global>
    <default>
        <ezmagazineopts>
            <ezmagazinegrp>
                <magazinecode>http://filtr8.com/magazine?5401a824708c8&amp;embed=1&amp;filtr8_demo=1</magazinecode>
                <magazinewidth>100</magazinewidth>
                <magazineheight>800</magazineheight>
                <marginleft>0</marginleft>
            </ezmagazinegrp>
        </ezmagazineopts>
    </default>
</config>